@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Raleway", sans-serif;
  @apply bg-bg-light dark:bg-bg-dark;
}

button,
h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Montserrat", sans-serif;
}

input {
  @apply rounded-lg outline-none border-2 border-secondary-light dark:border-secondary-dark focus:border-acc-light dark:focus:border-acc-dark bg-secondary-light dark:bg-secondary-dark shadow-md shadow-shdw-light dark:shadow-shdw-dark py-2 px-5;
}

button {
  @apply dark:shadow-shdw-dark shadow-shdw-light shadow-md hover:text-acc-light hover:dark:text-acc-dark active:shadow-inner;
}

a {
  @apply hover:text-acc-light dark:hover:text-acc-dark;
}

input,
textarea,
button,
select,
a,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
